<!DOCTYPE html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">       
        <title>
            create account
        </title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="../static/general.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="formdiv">
            <form>
              <h1 style="
            color: #f0e50dcc;
            text-align: center;
            ">
            Enter Details
          </h1>
                <div class="infodiv">
                    <div class="firstname">
                        <label>
                            First Name
                        </label><br>
                        <input type="text">
                    </div>
                    <div class="last">
                        <label>
                            Last Name
                        </label><br>
                        <input type="text">
                    </div>
                    
                    <div class="emaildiv">
                        <label for="emailbox"> Email </label><br>
                      <input type="text" for="emailbox">
                      </div>  
                      <div class="emaildiv">
                        <label for="emailbox"> Confirm Email </label><br>
                      <input type="text" for="emailbox">
                      </div> 
                      <div class="pwddiv">
                        <label for="pwd"> Password </label><br>
                      <input type="password" for="pwd">                
                      </div>
                      <div class="pwddiv">
                        <label for="pwd"> Re-Type Password </label><br>
                      <input type="password" for="pwd">                
                      </div>
                  </div>                 
                  <button class="signbutton">
                    <a class="createbutton" href="login.html">Create</a>
                  </button>
                  
                  
            </form>       
          </div>
    </body>
</html>