<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>
        sign-in page
    </title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
<div class="formdiv">
    <form >
        <h1 style="
        color: #f0e50dcc;
        text-align: center;
        margin-bottom: 15px;
        ">
            Login
        </h1>
        <div class="infodiv">
            <div class="emaildiv">
                <!-- <label for="emailbox"> Email  </label><br> -->
                <input type="text" placeholder="Email" for="emailbox">
            </div>
            <div class="pwddiv">
                <!-- <label for="pwd"> Password </label><br> -->
                <input type="password" placeholder="Password"for="pwd">
            </div>
        </div>
        <div class="checkdiv">
            <input type="checkbox">
            <label for="checkbox">Keep me signed in</label>
        </div>
        <button class="signbutton"
            input type="submit"> Sign-in
        </button>
        <div class="new">
            <div class="newuserdiv">
                <p class="newp">
                    Not a user already?
                </p>
            </div>
            <div class="create">
                <a class="createlink" href="create.html">Create a new account</a>
            </div>
        </div>

    </form>
</div>
</body>
</html>